.navbar-nav .nav-link.active { color:#000040 !important; }
.navbar-nav .nav-link { color:#666; }

/* Library */
@media(min-width:1201px) { 
 .navbar-nav .nav-link.active { padding:6px 10px;border-bottom:2px solid #000040;margin-right:5px; }
 .navbar-nav .nav-link { padding:6px 10px;margin-right:5px; }
}

@media(max-width:1200px) { 
 .navbar-nav .nav-link.active { padding:6px 10px;border-bottom:2px solid #000040;margin-right:5px; }
 .navbar-nav .nav-link { padding:6px 10px;margin-right:5px; }
}
