RewriteEngine On

#RewriteRule app/data/view controllers/module.app.static.php?action=APP_VIEW_STATDATA [QSA]
#RewriteRule app/data/add controllers/module.app.static.php?action=APP_ADDUPDATE_STATDATA [QSA]
#RewriteRule app/data/delete controllers/module.app.static.php?action=APP_DELETE_STATDATA [QSA]

#RewriteRule platform/add/new controllers/module.admin.php?action=PLATFORM_ADD_NEW [QSA]
#RewriteRule platform/view controllers/module.admin.php?action=PLATFORM_VIEW [NC,L]
#RewriteRule question/add/new controllers/module.admin.php?action=QUESTION_ADD_NEW [QSA]
#RewriteRule question/view/([^/]+)/([^/]+)/([^/]+)$ controllers/module.admin.php?action=QUESTION_VIEW&platformName=$1&limitStart=$2&limitEnd=$3 [QSA]
#RewriteRule question/update controllers/module.admin.php?action=QUESTION_UPDATE [QSA]
#RewriteRule question/autocomplete controllers/module.admin.php?action=QUESTION_AUTOCOMPLETE [QSA]

RewriteRule list/view controllers/controller.manage.topic.php?action=LIST_VIEW [QSA]

RewriteRule topics/add controllers/controller.manage.topic.php?action=TOPICS_ADD [QSA]
RewriteRule topics/update controllers/controller.manage.topic.php?action=TOPICS_UPDATE [QSA]
RewriteRule topics/delete controllers/controller.manage.topic.php?action=TOPICS_DELETE [QSA]

RewriteRule files/add controllers/controller.manage.topic.php?action=CREATE_FILE [QSA]
RewriteRule files/update controllers/controller.manage.topic.php?action=UPDATE_FILE [QSA]
RewriteRule files/delete controllers/controller.manage.topic.php?action=DELETE_FILE [QSA]

